#logo {
    position: fixed;
    height: 90px;
    width: 90px;
    top: 30px;
    left: 30px;
    z-index: 2000;
    cursor: pointer;
    text-decoration: none;

    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;

    @include flex;

    .divider {
        position: absolute;
        width: 4px;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $blue;

        //reset
        max-width: none;
        margin: 0;

        -webkit-transition: width 0.2s;
        transition: width 0.2s;

        &.right {
            left: auto;
            right: 0;
        }
        &.top-right {
            right: 0;
            left: auto;
            top: 0;
            width: 0;
            height: 4px;
        }
        &.bottom-left {
            left: 0;
            top: auto;
            bottom: 0;
            width: 0;
            height: 4px;
        }
    }
    .dn {
        position: relative;
        display: block;
        width: 100%;
        
        font-family: "Courier New", Courier, monospace;
        font-weight: 500;
        color: $orange;
        font-size: 60px;
        text-align: center;
        line-height: 90%;
        text-decoration: none;
    }
    .design {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;

        font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: $brown;
        font-size: 20px;
        text-decoration: none;

        -webkit-transition: max-height 0.2s, opacity 0.15s;
        transition: max-height 0.2s, opacity 0.15s;
    }
    &:hover {
        background-color: white;

        .divider {

            &.top-right, &.bottom-left {
                width: 100%;
            }
        }
        .design {
            max-height: 30px;
            opacity: 1;
        }
    }
}
#menu-button {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 45px;
    right: 45px;
    z-index: 4000;
    cursor: pointer;

    .line {
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        background: $grey;

        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        &:nth-of-type(1) {
            top: 8px;
        }
        &:nth-of-type(2) {
            top: 23px;
        }
        &:nth-of-type(3) {
            top: 38px;
        }
    }
    &.active {
        
        .line {
            background-color: white;

            &:nth-of-type(1) {
                top: 16px;
                width: 0;
                left: 50%;
                opacity: 0;
            }
            &:nth-of-type(2) {
                @include rotate(45deg);
            }
            &:nth-of-type(3) {
                top: 23px;
                @include rotate(-45deg);
            }
        }
    }
}
.header-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    left: 0;
    top: -80px;
    z-index: 1000;
}
#navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: rgba($blue,0.95);
    z-index: 3000;

    -webkit-transition: top 0.2s;
    transition: top 0.2s;

    nav {
        height: 100%;
        display: block;

        ul {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            padding: 0;
            position: relative;

            li {
                display: block;
                text-align: center;
                width: 100%;
                opacity: 0;
                position: absolute;
                top: -150%;

                // line-height: 3em;
                margin: 0 0 -.3em 0;
                padding: 10px 0;

                transition: all 300ms cubic-bezier(0.235,.625,.07,.98);
                -webkit-transition: all 300ms cubic-bezier(0.235,.625,.07,.98);
                -moz-transition: all 300ms cubic-bezier(0.235,.625,.07,.98);
                -o-transition: all 300ms cubic-bezier(0.235,.625,.07,.98);

                a {
                    z-index: 8888;
                    color: $brown;
                    overflow: visible;
                    margin: 0;
                    padding: 0;

                    letter-spacing: 0em;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 40px;

                    -webkit-transition: letter-spacing 0.5s;
                    transition: letter-spacing 0.5s;

                    &::before, &::after {
                        content: '';
                        width: 100%;
                        height: 3px;
                        z-index: -1;
                        background: $orange;
                        position: absolute;
                        -webkit-transform: scale3d(0,1,1);
                        transform: scale3d(0,1,1);
                        -webkit-transition: -webkit-transform 0.5s;
                        transition: transform 0.5s;
                    }
                    &::before {
                        right: 0;
                        top: -4px;
                        -webkit-transform-origin: 100% 50%;
                        transform-origin: 100% 50%;
                    }
                    &::after {
                        left: 0;
                        bottom: -4px;
                        -webkit-transform-origin: 0 50%;
                        transform-origin: 0 50%;
                    }
                    &:hover {
                        letter-spacing: .2em;

                        &::before, &::after {
                            -webkit-transform: scale3d(1,1,1);
                            transform: scale3d(1,1,1);
                        }
                    }
                }
            }
        }
    }
    &.visible {
        top: 0;

        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -o-transition-delay: .15s;
        -ms-transition-delay: .15s;
        transition-delay: .15s;

        nav {

            ul {

                li {
                    opacity: 1;

                    &.item-1 {
                        -webkit-transition-delay: .9s;
                        transition-delay: .9s;
                        top: 18%;
                    }
                    &.item-2 {
                        -webkit-transition-delay: .84s;
                        transition-delay: .84s;
                        top: 28%;
                    }
                    &.item-3 {
                        -webkit-transition-delay: .78s;
                        transition-delay: .78s;
                        top: 38%;
                    }
                    &.item-4 {
                        -webkit-transition-delay: .72s;
                        transition-delay: .72s;
                        top: 48%;
                    }
                    &.item-5 {
                        -webkit-transition-delay: .66s;
                        transition-delay: .66s;
                        top: 58%;
                    }
                }
            }
        }
    }
}

/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
    #logo {
        left: 10px;
        top: 10px;
        height: 60px;
        width: 60px;
        background-color: white;

        .dn {
            font-size: 36px;
        }
        .design {
            font-size: 14px;
            max-height: 30px;
            opacity: 1;
        }
        .divider.top-right {
            width: 100%;
        }
        .divider.bottom-left {
            width: 100%;
        }
    }
    #menu-button {
        top: 16px;
        right: 10px;
    }
    .header-bar {
        top: 0;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
    
    
}