@charset "UTF-8";
/* CSS Document */

/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline; }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block; }
    body {
        line-height: 1; }
    ol, ul {
        list-style: none; }
    blockquote, q {
        quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none; }
    table {
        border-collapse: collapse;
        border-spacing: 0; 
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.hidden-desktop {
    display: none;
}

.visible-desktop {
    display: block;
}

// bower:scss
// endbower

@import "variables";

/* #Text
================================================== */

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    line-height: 130%;
    color: $brown;
    margin-bottom: 40px;
}
h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    color: $grey;
}
p {
    position: relative;
    line-height: 150%;
    font-size: 22px;
    color: $grey;
    margin-bottom: 30px;
    font-weight: 300;

    &:last-of-type {
        // margin-bottom: 0;
    }
    a {
        color: $brown;
        text-decoration: underline;
    }
}

/* #Basic Layout
================================================== */

body {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;

    .container {
        position: relative;
        width: 1000px;
        margin: 0 auto;

        @include clearfix;
    }
    .divider {
        position: relative;
        width: 80%;
        max-width: 500px;
        height: 4px;
        margin: 30px auto;
        background-color: $orange;
    }

    // footer
    footer {
        position: relative;
        width: 100%;
        padding: 40px 0;
        background-color: $blue;

        .connect {
            position: relative;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;

            h2 {
                color: $grey;
                font-size: 24px;
                margin-bottom: 20px;
            }
            .social-icons {
                position: relative;
                width: 100%;
                height: 60px;
                text-align: center;

                @include flex;

                .icon {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin: 0 10px;

                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;

                    @include flex;

                    img {
                        position: relative;
                        width: 30px;
                    }

                    &:hover {
                        -webkit-border-radius: 30px;
                        border-radius: 30px;
                        background-color: white;
                    }
                }
            }
        }
    }

    /* #Media Queries
    ================================================== */

    @media only screen and (min-width: 960px) and (max-width: 999px) {
        
        .container {
            width: 960px;
        }

    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        
        h1 {
            font-size: 50px;
        }
        .container {
            width: 760px;
        }

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
        
        h1 {
            font-size: 50px;
        }
        .container {
            width: 90%;
        }

    }
}

/* #Imports
================================================== */

@import "navigation";
@import "modules/buttons";
@import "pages/home";
@import "pages/about";
@import "pages/portfolio";
