<section class="work">
  <div class="container">
    <h2>{{ page.header.title }}</h2>
    <div class="work-list">
      {% for work in page.header.recent_work %}
        <a href="{{ work.link }}" class="item" style="background-image: url({{ page.media[work.image].url }})" data-rjs="2">
          <div class="overlay">
            <div class="text-title">{{ work.title }}</div>
            <div class="text-sub-title">{{ work.sub_title }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
