{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}" ng-app="portfolioApp">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {% block stylesheets %}
            {% do assets.addCss('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', 100) %}
            {% do assets.addCss('theme://css-compiled/main.css', 99) %}
            {% do assets.addCss('theme://css/custom.css', 98) %}
        {% endblock %}
        {{ assets.css() }}

    {% endblock head%}
</head>

{% set _bodyClass = block('body_class') %}
<body class="{{ _bodyClass|raw }} {{ page.header.body_classes }}" {% block other_attributes %}{% endblock %}>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
            (A[l].q = A[l].q || []).push(arguments)
          }, A[l].l = +new Date, a = n.createElement(g),
          r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64440215-1');
    ga('send', 'pageview');
  </script>

{% block header %}
  <div class="header-bar"></div>
  <header ng-controller="navCtrl" id="header">
    <a href="{{ base_url == '' ? '/' : base_url }}" id="logo">
      <div class="inner">
        <div class="dn">dn</div>
        <div class="design">design</div>
      </div>
      <div class="divider"></div>
      <div class="divider right"></div>
      <div class="divider top-right"></div>
      <div class="divider bottom-left"></div>
    </a>
    <div id="menu-button" ng-class="navVisible ? 'active' : ''" ng-click="toggleNav()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    {% block header_navigation %}
      <div id="navigation" ng-class="navVisible ? 'visible' : ''">
        <nav>
          {% include 'partials/navigation.html.twig' %}
        </nav>
      </div>
    {% endblock %}
  </header>
{% endblock %}

{% block body %}
  <div class="app-holder">
    {% block banner %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
  <footer>
    <div class="connect">
      <h2>Connect with me</h2>
      <div class="social-icons">
        <a href="http://twitter.com/dgniccum" target="_blank" title="Twitter" class="icon">
          <img src="{{ url("theme://images/twitter.svg" ~ widget.image) }}" alt="Twitter Icon" />
        </a>
        <a href="http://github.com/dniccum" target="_blank" title="GitHub" class="icon">
          <img src="{{ url("theme://images/github.svg" ~ widget.image) }}" alt="GitHub Icon" />
        </a>
        <a href="https://www.linkedin.com/in/dougniccum" target="_blank" title="Linked In" class="icon">
          <img src="{{ url("theme://images/linked-in.svg" ~ widget.image) }}" alt="Linked-In Icon" />
        </a>
      </div>
    </div>
  </footer>
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', {'priority': 100, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular.min.js', {'priority': 99, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular-animate.min.js', {'priority': 98, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular-cookies.min.js', {'priority': 98, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular-resource.min.js', {'priority': 98, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular-sanitize.min.js', {'priority': 98, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/angular-touch.min.js', {'priority': 98, 'group': 'vendor'}) %}
    {% do assets.addJs('theme://js/vendor/retina.min.js', {'priority': 98, 'group': 'vendor'}) %}

    {% do assets.addJs('theme://js/app.js', {'priority': 97, 'group': 'app'}) %}
    {% do assets.addJs('theme://js/controllers/home.js', {'priority': 96, 'group': 'app'}) %}
    {% do assets.addJs('theme://js/controllers/about.js', {'priority': 96, 'group': 'app'}) %}
    {% do assets.addJs('theme://js/controllers/portfolio.js', {'priority': 96, 'group': 'app'}) %}
{% endblock %}

{{ assets.js('vendor') }}
{{ assets.js('app') }}

{% if config.system.debugger.enabled %}
  {{ assets.js() }}
{% endif %}

</body>
