<div class="heading-bar">
  <h1>{{ page.header.title }}</h1>
  <div class="divider"></div>
  <div class="container">
    <div class="sub-heading">
      {{ page.header.sub_title }}
    </div>
  </div>
</div>