<ul>
  {% for page in pages.children %}
    {% if page.visible %}
      {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
      <li class="item-{{ loop.index }}">
        <a href="{{ page.url }}" class="{{ current_page }}">{{ page.menu }}</a>
      </li>
      {% if loop.last %}
        <li class="item-{{ loop.index + 1 }}">
          <a href="http://blog.dniccumdesign.com" title="View My Blog">Blog</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>