/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.hidden-desktop {
  display: none; }

.visible-desktop {
  display: block; }

/* #Text
================================================== */
h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
  line-height: 130%;
  color: #98622B;
  margin-bottom: 40px; }

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  color: #646464; }

p {
  position: relative;
  line-height: 150%;
  font-size: 22px;
  color: #646464;
  margin-bottom: 30px;
  font-weight: 300; }
  p a {
    color: #98622B;
    text-decoration: underline; }

/* #Basic Layout
================================================== */
body {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  /* #Media Queries
  ================================================== */
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  /* All Mobile Sizes (devices and browser) */ }
  body .container {
    position: relative;
    width: 1000px;
    margin: 0 auto; }
    body .container:before, body .container:after {
      display: table;
      line-height: 0;
      content: ""; }
    body .container:after {
      clear: both; }
  body .divider {
    position: relative;
    width: 80%;
    max-width: 500px;
    height: 4px;
    margin: 30px auto;
    background-color: #EA9720; }
  body footer {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #D4E0E4; }
    body footer .connect {
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 auto; }
      body footer .connect h2 {
        color: #646464;
        font-size: 24px;
        margin-bottom: 20px; }
      body footer .connect .social-icons {
        position: relative;
        width: 100%;
        height: 60px;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center; }
        body footer .connect .social-icons .icon {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 60px;
          margin: 0 10px;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center; }
          body footer .connect .social-icons .icon img {
            position: relative;
            width: 30px; }
          body footer .connect .social-icons .icon:hover {
            -webkit-border-radius: 30px;
            border-radius: 30px;
            background-color: white; }
  @media only screen and (min-width: 960px) and (max-width: 999px) {
    body .container {
      width: 960px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body h1 {
      font-size: 50px; }
    body .container {
      width: 760px; } }
  @media only screen and (max-width: 767px) {
    body h1 {
      font-size: 50px; }
    body .container {
      width: 90%; } }

/* #Imports
================================================== */
#logo {
  position: fixed;
  height: 90px;
  width: 90px;
  top: 30px;
  left: 30px;
  z-index: 2000;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  #logo .divider {
    position: absolute;
    width: 4px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #D4E0E4;
    max-width: none;
    margin: 0;
    -webkit-transition: width 0.2s;
    transition: width 0.2s; }
    #logo .divider.right {
      left: auto;
      right: 0; }
    #logo .divider.top-right {
      right: 0;
      left: auto;
      top: 0;
      width: 0;
      height: 4px; }
    #logo .divider.bottom-left {
      left: 0;
      top: auto;
      bottom: 0;
      width: 0;
      height: 4px; }
  #logo .dn {
    position: relative;
    display: block;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    color: #EA9720;
    font-size: 60px;
    text-align: center;
    line-height: 90%;
    text-decoration: none; }
  #logo .design {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #98622B;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: max-height 0.2s, opacity 0.15s;
    transition: max-height 0.2s, opacity 0.15s; }
  #logo:hover {
    background-color: white; }
    #logo:hover .divider.top-right, #logo:hover .divider.bottom-left {
      width: 100%; }
    #logo:hover .design {
      max-height: 30px;
      opacity: 1; }

#menu-button {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 45px;
  right: 45px;
  z-index: 4000;
  cursor: pointer; }
  #menu-button .line {
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    background: #646464;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #menu-button .line:nth-of-type(1) {
      top: 8px; }
    #menu-button .line:nth-of-type(2) {
      top: 23px; }
    #menu-button .line:nth-of-type(3) {
      top: 38px; }
  #menu-button.active .line {
    background-color: white; }
    #menu-button.active .line:nth-of-type(1) {
      top: 16px;
      width: 0;
      left: 50%;
      opacity: 0; }
    #menu-button.active .line:nth-of-type(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #menu-button.active .line:nth-of-type(3) {
      top: 23px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.header-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  left: 0;
  top: -80px;
  z-index: 1000; }

#navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: rgba(212, 224, 228, 0.95);
  z-index: 3000;
  -webkit-transition: top 0.2s;
  transition: top 0.2s; }
  #navigation nav {
    height: 100%;
    display: block; }
    #navigation nav ul {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      padding: 0;
      position: relative; }
      #navigation nav ul li {
        display: block;
        text-align: center;
        width: 100%;
        opacity: 0;
        position: absolute;
        top: -150%;
        margin: 0 0 -.3em 0;
        padding: 10px 0;
        transition: all 300ms cubic-bezier(0.235, 0.625, 0.07, 0.98);
        -webkit-transition: all 300ms cubic-bezier(0.235, 0.625, 0.07, 0.98);
        -moz-transition: all 300ms cubic-bezier(0.235, 0.625, 0.07, 0.98);
        -o-transition: all 300ms cubic-bezier(0.235, 0.625, 0.07, 0.98); }
        #navigation nav ul li a {
          z-index: 8888;
          color: #98622B;
          overflow: visible;
          margin: 0;
          padding: 0;
          letter-spacing: 0em;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 40px;
          -webkit-transition: letter-spacing 0.5s;
          transition: letter-spacing 0.5s; }
          #navigation nav ul li a::before, #navigation nav ul li a::after {
            content: '';
            width: 100%;
            height: 3px;
            z-index: -1;
            background: #EA9720;
            position: absolute;
            -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s; }
          #navigation nav ul li a::before {
            right: 0;
            top: -4px;
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%; }
          #navigation nav ul li a::after {
            left: 0;
            bottom: -4px;
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%; }
          #navigation nav ul li a:hover {
            letter-spacing: .2em; }
            #navigation nav ul li a:hover::before, #navigation nav ul li a:hover::after {
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1); }
  #navigation.visible {
    top: 0;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    -o-transition-delay: .15s;
    -ms-transition-delay: .15s;
    transition-delay: .15s; }
    #navigation.visible nav ul li {
      opacity: 1; }
      #navigation.visible nav ul li.item-1 {
        -webkit-transition-delay: .9s;
        transition-delay: .9s;
        top: 18%; }
      #navigation.visible nav ul li.item-2 {
        -webkit-transition-delay: .84s;
        transition-delay: .84s;
        top: 28%; }
      #navigation.visible nav ul li.item-3 {
        -webkit-transition-delay: .78s;
        transition-delay: .78s;
        top: 38%; }
      #navigation.visible nav ul li.item-4 {
        -webkit-transition-delay: .72s;
        transition-delay: .72s;
        top: 48%; }
      #navigation.visible nav ul li.item-5 {
        -webkit-transition-delay: .66s;
        transition-delay: .66s;
        top: 58%; }

/* #Media Queries
================================================== */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #logo {
    left: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
    background-color: white; }
    #logo .dn {
      font-size: 36px; }
    #logo .design {
      font-size: 14px;
      max-height: 30px;
      opacity: 1; }
    #logo .divider.top-right {
      width: 100%; }
    #logo .divider.bottom-left {
      width: 100%; }

  #menu-button {
    top: 16px;
    right: 10px; }

  .header-bar {
    top: 0; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
button, .button {
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  -ms-transition-delay: .1s;
  transition-delay: .1s;
  position: relative;
  text-decoration: none;
  padding: 20px 45px;
  margin: 0;
  background-color: transparent;
  border: 2px solid #646464;
  color: #646464;
  display: inline-block;
  font-weight: 400;
  font-size: 1.1em !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .4em;
  z-index: 999; }
  button::before, .button::before {
    z-index: -1;
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -moz-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -o-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    background-color: #646464;
    display: block;
    content: "";
    height: 40px;
    width: 2px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    opacity: 0; }
  button::after, .button::after {
    z-index: -1;
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -moz-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -o-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    background-color: #646464;
    display: block;
    content: "";
    height: 40px;
    width: 2px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    opacity: 0; }
  button span, .button span {
    z-index: -1;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -moz-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1);
    -o-transition: all 350ms cubic-bezier(0.215, 0.61, 0.215, 1); }
    button span::before, .button span::before {
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      content: "";
      display: block;
      position: absolute;
      background-color: #646464;
      top: -5%;
      left: -210%;
      width: 200%;
      height: 110%; }
  button:hover, .button:hover {
    color: white;
    padding: 20px 60px;
    letter-spacing: .7em; }
    button:hover::before, .button:hover::before {
      width: 20px;
      height: 2px;
      margin-top: -1px;
      opacity: 1;
      left: -40px; }
    button:hover::after, .button:hover::after {
      width: 20px;
      height: 2px;
      margin-top: -1px;
      opacity: 1;
      right: -40px; }
    button:hover span::before, .button:hover span::before {
      left: -25%; }
  button.orange, .button.orange {
    color: #EA9720;
    border-color: #EA9720; }
    button.orange::before, button.orange::after, .button.orange::before, .button.orange::after {
      background-color: #EA9720; }
    button.orange span::before, .button.orange span::before {
      color: white;
      background-color: #EA9720; }
    button.orange:hover, .button.orange:hover {
      color: white; }
  button.brown, .button.brown {
    color: #98622B;
    border-color: #98622B; }
    button.brown::before, button.brown::after, .button.brown::before, .button.brown::after {
      background-color: #98622B; }
    button.brown span::before, .button.brown span::before {
      color: white;
      background-color: #98622B; }
    button.brown:hover, .button.brown:hover {
      color: white; }
  button.blue, .button.blue {
    color: #D4E0E4;
    border-color: #D4E0E4; }
    button.blue::before, button.blue::after, .button.blue::before, .button.blue::after {
      background-color: #D4E0E4; }
    button.blue span::before, .button.blue span::before {
      color: white;
      background-color: #D4E0E4; }
    button.blue:hover, .button.blue:hover {
      color: white; }

@media only screen and (max-width: 767px) {
  button, .button {
    font-size: 0.9em !important;
    padding: 20px 35px; }
    button:hover, .button:hover {
      padding: 20px 35px; } }
body.home {
  background: url("../images/argylebg.png") center center repeat;
  height: 100%;
  /* #Media Queries
  ================================================== */
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  /* All Mobile Sizes (devices and browser) */
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */ }
  body.home .app-holder {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100%;
    height: auto; }
  body.home section.landing {
    position: relative;
    display: block;
    height: 90%;
    overflow: hidden; }
    body.home section.landing .heading {
      position: relative;
      padding: 14% 0 16%;
      width: 80%;
      margin: 0 auto;
      text-align: center; }
      body.home section.landing .heading h1 {
        margin-bottom: 20px;
        font-size: 60px;
        line-height: 140%;
        text-align: center;
        font-family: 'Courier New', Courier, sans-serif;
        color: #EA9720;
        border-bottom: 6px solid #D4E0E4;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 450px;
        text-align: center; }
        body.home section.landing .heading h1 span {
          font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          color: #98622B; }
      body.home section.landing .heading h3 {
        font-size: 20px;
        color: #646464;
        text-align: center;
        font-weight: 300;
        margin-bottom: 60px; }
  body.home .scroll-button {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: white;
    display: block;
    border-bottom: 1px solid #D4E0E4;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    body.home .scroll-button .arrow {
      position: relative;
      width: 40px;
      cursor: pointer;
      -webkit-transition: width 0.2s ease;
      -moz-transition: width 0.2s ease;
      -ms-transition: width 0.2s ease;
      -o-transition: width 0.2s ease;
      transition: width 0.2s ease; }
      body.home .scroll-button .arrow:hover {
        width: 60px; }
  body.home section.work {
    position: relative;
    padding: 80px 0;
    background-color: white; }
    body.home section.work .work-list {
      position: relative;
      width: 100%;
      max-width: 800px;
      margin: 30px auto 0; }
      body.home section.work .work-list:before, body.home section.work .work-list:after {
        display: table;
        line-height: 0;
        content: ""; }
      body.home section.work .work-list:after {
        clear: both; }
      body.home section.work .work-list .item {
        position: relative;
        display: block;
        width: 50%;
        height: 300px;
        float: left;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        body.home section.work .work-list .item .overlay {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 0;
          height: 0;
          background-color: rgba(152, 98, 43, 0.85);
          overflow: hidden;
          -webkit-transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s;
          transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s; }
          body.home section.work .work-list .item .overlay .text-title, body.home section.work .work-list .item .overlay .text-sub-title {
            position: absolute;
            width: 90%;
            left: 5%; }
          body.home section.work .work-list .item .overlay .text-title {
            top: 120%;
            color: white;
            font-size: 42px;
            font-weight: 300;
            -webkit-transition: top 0.2s;
            transition: top 0.2s; }
          body.home section.work .work-list .item .overlay .text-sub-title {
            top: 150%;
            font-size: 20px;
            font-weight: 600;
            color: #EA9720;
            -webkit-transition: top 0.2s;
            transition: top 0.2s; }
        body.home section.work .work-list .item:hover .overlay {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
          body.home section.work .work-list .item:hover .overlay .text-title {
            top: 70%;
            -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s; }
          body.home section.work .work-list .item:hover .overlay .text-sub-title {
            top: 84%;
            -webkit-transition-delay: 0.30s;
            transition-delay: 0.30s; }
  body.home section.bio {
    position: relative;
    padding: 80px 0;
    background-color: #98622B; }
    body.home section.bio h2 {
      color: white;
      text-transform: none;
      font-weight: 300; }
    body.home section.bio .divider {
      background-color: #EA9720; }
    body.home section.bio p {
      position: relative;
      text-align: center;
      color: #D4E0E4;
      line-height: 150%;
      font-size: 20px; }
  @media only screen and (min-width: 960px) and (max-width: 999px) {
    body.home .work-list .item {
      height: 230px; }
      body.home .work-list .item .overlay .text-title {
        font-size: 32px; }
      body.home .work-list .item .overlay .text-sub-title {
        font-size: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body.home section.work .work-list .item {
      height: 200px; }
      body.home section.work .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.home section.work .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    body.home section.landing {
      padding-top: 20%; }
      body.home section.landing .heading h1 {
        font-size: 45px; }
      body.home section.landing .heading h3 {
        line-height: 140%; }
    body.home section.bio h2 {
      font-size: 30px; }
    body.home section.work .work-list .item {
      width: 100%;
      float: none; }
      body.home section.work .work-list .item:nth-child(3n+3) {
        width: 100%;
        float: none; }
      body.home section.work .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.home section.work .work-list .item .overlay .text-sub-title {
        font-size: 18px; }
      body.home section.work .work-list .item .overlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        body.home section.work .work-list .item .overlay .text-title {
          top: 70%; }
        body.home section.work .work-list .item .overlay .text-sub-title {
          top: 84%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    body.home section.work .work-list .item {
      height: 230px; }
      body.home section.work .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.home section.work .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }
  @media only screen and (max-width: 479px) {
    body.home section.work .work-list .item {
      height: 200px; }
      body.home section.work .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.home section.work .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }

body.about {
  /* #Media Queries
  ================================================== */
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  /* All Mobile Sizes (devices and browser) */ }
  body.about .heading-bar {
    position: relative;
    width: 100%;
    padding: 100px 0 40px;
    background: url("../images/argylebg.png") center center repeat; }
    body.about .heading-bar h1 {
      color: #EA9720;
      margin-bottom: 40px; }
    body.about .heading-bar .divider {
      background-color: #98622B; }
    body.about .heading-bar .sub-heading {
      position: relative;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      color: #646464;
      line-height: 150%; }
  body.about main {
    position: relative;
    padding: 100px 0 60px; }
    body.about main .photo {
      position: relative;
      height: 260px;
      width: 260px;
      margin: 0 auto;
      border-radius: 130px;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      background-image: url("../images/personal_photo.jpg"); }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5) {
        body.about main .photo {
          background-image: url("../images/personal_photo@2x.jpg");
          -webkit-background-size: 260px 260px;
          -moz-background-size: 260px 260px;
          -ms-background-size: 260px 260px;
          -o-background-size: 260px 260px;
          background-size: 260px 260px; } }
      body.about main .photo span {
        position: absolute;
        left: -200%;
        top: -10%;
        width: 150%;
        height: 120%;
        background-color: rgba(234, 151, 32, 0.7);
        -webkit-transform: skew(-20deg);
        transform: skew(-20deg);
        -webkit-transition: left 0.2s;
        transition: left 0.2s; }
      body.about main .photo:hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8); }
        body.about main .photo:hover span {
          left: -20%; }
    body.about main p {
      position: relative;
      line-height: 150%;
      font-size: 22px;
      color: #646464;
      margin-bottom: 30px;
      font-weight: 300; }
    body.about main ul {
      position: relative;
      list-style: disc;
      margin: 0 0 10px 30px;
      line-height: 130%;
      color: #646464;
      font-size: 22px;
      font-weight: 300; }
      body.about main ul li {
        margin-bottom: 4px; }
    body.about main h3 {
      position: relative;
      font-size: 32px;
      font-weight: 600;
      color: #EA9720;
      line-height: 140%;
      margin-bottom: 10px; }
    body.about main .column-left {
      position: relative;
      width: 240px;
      float: left; }
      body.about main .column-left .name {
        position: relative;
        margin-bottom: 4px;
        font-weight: 600;
        color: #98622B;
        font-size: 40px;
        line-height: 90%; }
      body.about main .column-left .sub {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: #EA9720; }
    body.about main .column-right {
      position: relative;
      width: 740px;
      float: right; }
  @media only screen and (min-width: 960px) and (max-width: 999px) {
    body.about main .column-right {
      width: 700px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body.about main .column-right {
      width: 520px; } }
  @media only screen and (max-width: 767px) {
    body.about main .column-left {
      float: none;
      width: 100%;
      margin-bottom: 60px; }
    body.about main .column-right {
      float: none;
      width: 100%; } }

body.portfolio {
  /* #Media Queries
  ================================================== */
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  /* All Mobile Sizes (devices and browser) */
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */ }
  body.portfolio .heading-bar {
    position: relative;
    width: 100%;
    padding: 100px 0 40px;
    background: url("../images/argylebg.png") center center repeat; }
    body.portfolio .heading-bar h1 {
      color: #EA9720;
      margin-bottom: 40px; }
    body.portfolio .heading-bar .divider {
      background-color: #98622B; }
    body.portfolio .heading-bar .sub-heading {
      position: relative;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      color: #646464;
      line-height: 150%; }
  body.portfolio .work-list {
    position: relative; }
    body.portfolio .work-list:before, body.portfolio .work-list:after {
      display: table;
      line-height: 0;
      content: ""; }
    body.portfolio .work-list:after {
      clear: both; }
    body.portfolio .work-list .item {
      position: relative;
      display: block;
      width: 50%;
      height: 300px;
      float: left;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      body.portfolio .work-list .item .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        background-color: rgba(152, 98, 43, 0.85);
        overflow: hidden;
        -webkit-transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s;
        transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s; }
        body.portfolio .work-list .item .overlay .text-title, body.portfolio .work-list .item .overlay .text-sub-title {
          position: absolute;
          width: 90%;
          left: 5%; }
        body.portfolio .work-list .item .overlay .text-title {
          top: 120%;
          color: white;
          font-size: 42px;
          font-weight: 300;
          -webkit-transition: top 0.2s;
          transition: top 0.2s; }
        body.portfolio .work-list .item .overlay .text-sub-title {
          top: 150%;
          font-size: 20px;
          font-weight: 600;
          color: #EA9720;
          -webkit-transition: top 0.2s;
          transition: top 0.2s; }
      body.portfolio .work-list .item:hover .overlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        body.portfolio .work-list .item:hover .overlay .text-title {
          top: 70%;
          -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s; }
        body.portfolio .work-list .item:hover .overlay .text-sub-title {
          top: 84%;
          -webkit-transition-delay: 0.30s;
          transition-delay: 0.30s; }
    body.portfolio .work-list .item {
      width: 33.3333%; }
      body.portfolio .work-list .item:nth-child(3n+3) {
        width: 33.3334%; }
  body.portfolio .work-single {
    position: relative;
    padding: 60px 0; }
    body.portfolio .work-single .description {
      position: relative;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      text-align: center; }
      body.portfolio .work-single .description h4 {
        color: #EA9720;
        font-size: 30px;
        font-weight: 600; }
    body.portfolio .work-single .image {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: 20px auto; }
      body.portfolio .work-single .image:first-of-type {
        margin-top: 0; }
      body.portfolio .work-single .image:last-of-type {
        margin-bottom: 0; }
      body.portfolio .work-single .image.banner {
        margin-bottom: 40px; }
  @media only screen and (min-width: 960px) and (max-width: 999px) {
    body.portfolio .work-list .item {
      height: 230px; }
      body.portfolio .work-list .item .overlay .text-title {
        font-size: 32px; }
      body.portfolio .work-list .item .overlay .text-sub-title {
        font-size: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body.portfolio .work-list .item {
      height: 200px; }
      body.portfolio .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.portfolio .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    body.portfolio .work-list .item {
      width: 100%;
      float: none; }
      body.portfolio .work-list .item:nth-child(3n+3) {
        width: 100%;
        float: none; }
      body.portfolio .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.portfolio .work-list .item .overlay .text-sub-title {
        font-size: 18px; }
      body.portfolio .work-list .item .overlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        body.portfolio .work-list .item .overlay .text-title {
          top: 70%; }
        body.portfolio .work-list .item .overlay .text-sub-title {
          top: 84%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    body.portfolio .work-list .item {
      height: 230px; }
      body.portfolio .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.portfolio .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }
  @media only screen and (max-width: 479px) {
    body.portfolio .work-list .item {
      height: 200px; }
      body.portfolio .work-list .item .overlay .text-title {
        font-size: 26px; }
      body.portfolio .work-list .item .overlay .text-sub-title {
        font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
