body.about {

	@import "modules/page-header";

	main {
		position: relative;
		padding: 100px 0 60px;

		.photo {
			position: relative;
			height: 260px;
			width: 260px;
			margin: 0 auto;
			border-radius: 130px;
			overflow: hidden;
			-webkit-transition: -webkit-transform 0.2s;
			transition: transform 0.2s;
			@include retina(personal_photo,jpg,260px,260px);

			span {
				position: absolute;
				left: -200%;
				top: -10%;
				width: 150%;
				height: 120%;
				background-color: rgba($orange,0.7);
				-webkit-transform: skew(-20deg);
				transform: skew(-20deg);
				-webkit-transition: left 0.2s;
				transition: left 0.2s;
			}
			&:hover {
				-webkit-transform: scale(0.8);
				transform: scale(0.8);
				span {
					left: -20%;
				}
			}
		}
		p {
			position: relative;
			line-height: 150%;
			font-size: 22px;
			color: $grey;
			margin-bottom: 30px;
			font-weight: 300;

			&:last-of-type {
				// margin-bottom: 0;
			}
		}
		ul {
			position: relative;
			list-style: disc;
			margin: 0 0 10px 30px;
			line-height: 130%;
			color: $grey;
			font-size: 22px;
			font-weight: 300;

			li {
				margin-bottom: 4px;
			}
		}
		h3 {
			position: relative;
			font-size: 32px;
			font-weight: 600;
			color: $orange;
			line-height: 140%;
			margin-bottom: 10px;
		}
		.column-left {
			position: relative;
			width: 240px;
			float: left;

			.name {
				position: relative;
				margin-bottom: 4px;
				font-weight: 600;
				color: $brown;
				font-size: 40px;
				line-height: 90%;
			}
			.sub {
				position: relative;
				font-family: 'Courier New', Courier, monospace;
				color: $orange;
			}
		}
		.column-right {
			position: relative;
			width: 740px;
			float: right;
		}
	}

	/* #Media Queries
	================================================== */

	@media only screen and (min-width: 960px) and (max-width: 999px) {

        main {

        	.column-right {
	        	width: 700px;
	        }
        }

    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	    main {

        	.column-right {
	        	width: 520px;
	        }
        }

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	    main {

	    	.column-left {
	    		float: none;
	    		width: 100%;
	    		margin-bottom: 60px;
	    	}
        	.column-right {
        		float: none;
	        	width: 100%;
	        }
        }

	}
}
