body.home {
	background: url('../images/argylebg.png') center center repeat;
	height: 100%;

	.app-holder {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
		height: auto;
	}
	section.landing {
		position: relative;
		display: block;
		height: 90%;
		overflow: hidden;

		.heading {
			position: relative;
			padding: 14% 0 16%;
			width: 80%;
			margin: 0 auto;
			text-align: center;

			h1 {
				margin-bottom: 20px;
				font-size: 60px;
				line-height: 140%;
				text-align: center;
				font-family: 'Courier New', Courier, sans-serif;
				color: $orange;
				border-bottom: 6px solid $blue;

				@include center-text(450px);
				
				span {
					font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
					text-transform: uppercase;
					font-weight: 600;
					color: $brown;
				}
			}
			h3 {
				font-size: 20px;
				color: #646464;
				text-align: center;
				font-weight: 300;
				margin-bottom: 60px;
			}
		}
	}
	.scroll-button {
		position: relative;
		width: 100%;
		height: 70px;
		background-color: white;
		display: block;
		border-bottom: 1px solid $blue;

		@include flex;

		.arrow {
			position: relative;
			width: 40px;
			cursor: pointer;

			@include transition(width, 0.2s);

			&:hover {
				width: 60px;
			}
		}
	}
	section.work {
		position: relative;
		padding: 80px 0;
		background-color: white;

		.work-list {
			position: relative;
			width: 100%;
			max-width: 800px;
			margin: 30px auto 0;

			@include clearfix;

			@import "modules/work-item";
		}
	}
	section.bio {
		position: relative;
		padding: 80px 0;
		background-color: $brown;

		h2 {
			color: white;
			text-transform: none;
			font-weight: 300;
		}
		.divider {
			background-color: $orange;
		}
		p {
			position: relative;
			text-align: center;
			color: $blue;
			line-height: 150%;
			font-size: 20px;
		}
	}

	/* #Media Queries
	================================================== */
	
	@media only screen and (min-width: 960px) and (max-width: 999px) {
        
        .work-list {

        	.item {
        		height: 230px;

        		.overlay {

        			.text-title {
        				font-size: 32px;
        			}
        			.text-sub-title {
        				font-size: 19px;
        			}
        		}
        	}
        }

    }
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	    
	    section.work .work-list {

        	.item {
        		height: 200px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    
	    section.landing {
	    	padding-top: 20%;

	    	.heading {
	    		
	    		h1 {
	    			font-size: 45px;
	    		}
	    		h3 {
	    			line-height: 140%;
	    		}
	    	}
	    }
	    section.bio {

	    	h2 {
	    		font-size: 30px;
	    	}
	    }
	    section.work .work-list {

        	.item {
        		width: 100%;
        		float: none;

        		&:nth-child(3n+3) {
        			width: 100%;
        			float: none;
        		}
        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        		.overlay {
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					.text-title {
						top: 70%;
					}
					.text-sub-title {
						top: 84%;
					}
				}
        	}
        }
	
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	    
	    section.work .work-list {

        	.item {
        		height: 230px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	    
	    section.work .work-list {

        	.item {
        		height: 200px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	    
	}
}