body.portfolio {
	
	@import "modules/page-header";

	.work-list {
		position: relative;

		@include clearfix;
		@import "modules/work-item";

		.item {
			width: 33.3333%;

			&:nth-child(3n+3) {
				width: 33.3334%;
			}
		}
	}
	.work-single {
		position: relative;
		padding: 60px 0;

		.description {
			position: relative;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			text-align: center;

			h4 {
				color: $orange;
				font-size: 30px;
				font-weight: 600;
			}
		}
		.image {
			position: relative;
			width: 100%;
			max-width: 600px;
			margin: 20px auto;

			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			&.banner {
				margin-bottom: 40px;
			}
		}
	}

	/* #Media Queries
	================================================== */
	
	@media only screen and (min-width: 960px) and (max-width: 999px) {
        
        .work-list {

        	.item {
        		height: 230px;

        		.overlay {

        			.text-title {
        				font-size: 32px;
        			}
        			.text-sub-title {
        				font-size: 19px;
        			}
        		}
        	}
        }

    }
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	    
	    .work-list {

        	.item {
        		height: 200px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    
	    .work-list {

        	.item {
        		width: 100%;
        		float: none;

        		&:nth-child(3n+3) {
        			width: 100%;
        			float: none;
        		}
        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        		.overlay {
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					.text-title {
						top: 70%;
					}
					.text-sub-title {
						top: 84%;
					}
				}
        	}
        }
	
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	    
	    .work-list {

        	.item {
        		height: 230px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	    
	    .work-list {

        	.item {
        		height: 200px;

        		.overlay {

        			.text-title {
        				font-size: 26px;
        			}
        			.text-sub-title {
        				font-size: 18px;
        			}
        		}
        	}
        }
	    
	}
}