{% extends 'partials/base.html.twig' %}

{% block body_class %} about {% endblock %}
{% block banner %}
  {% include 'partials/interior_banner.html.twig' %}
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <!--
      <div class="photo">
        <span></span>
      </div>
      -->
      <div class="column-left">
        <div class="name">
          Doug<br />
          Niccum
        </div>
        <div class="sub">
          {{ page.header.city }}
        </div>
      </div>
      <div class="column-right">
        {{ page.content }}
        <h3>Languages and skills</h3>
        <ul>
          {% for skill in page.header.skills %}
            <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}