{% extends 'partials/base.html.twig' %}

{% block body_class %} about error {% endblock %}
{% block banner %}
    {% include 'partials/interior_banner.html.twig' %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            {{ page.content }}
        </div>
    </main>
{% endblock %}