{% extends 'partials/base.html.twig' %}

{% block body_class %} home {% endblock %}
{% block other_attributes %} ng-controller="HomeCtrl" {% endblock %}

{% block banner %}
  <section class="landing">
    <div class="heading">
      <h1>doug<span>Niccum</span></h1>
      <h3>Web/Application Developer and Interactive Designer</h3>
      <a href="/work" class="button orange">
        View Work
        <span></span>
      </a>
    </div>
  </section>
  <div class="scroll-button">
    <div class="arrow" id="scrollArrow" ng-click="scrollToWork()">
      <img src="{{ url("theme://images/arrow_down.svg" ~ widget.image) }}" />
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'partials/modular.html.twig' %}
{% endblock %}