{% extends 'partials/base.html.twig' %}

{% block body_class %} portfolio {% endblock %}
{% block banner %}
  {% include 'partials/interior_banner.html.twig' %}
{% endblock %}

{% block content %}
  <main class="work-list">
    {% for work in page.collection %}
      <a href="{{ work.url }}" class="item" style="background-image: url({{ work.media[work.header.index_image].url }})" data-rjs="2">
        <div class="overlay">
          <div class="text-title">{{ work.title }}</div>
          <div class="text-sub-title">{{ work.header.type }}</div>
        </div>
      </a>
    {% endfor %}
  </main>
{% endblock %}
