{% extends 'partials/base.html.twig' %}

{% block body_class %} portfolio {% endblock %}
{% block banner %}
  {% include 'partials/interior_banner.html.twig' %}
{% endblock %}

{% block content %}
  <main class="work-single">
    <div class="container">
      <div class="description">
        {{ page.content }}
        {% if page.header.work_links %}
          {% for button in page.header.work_links %}
            <a href="{{ button.link }}" target="_blank" class="button {{ button.class }}">
              {{ button.label }}
              <span></span>
            </a>
          {% endfor %}
        {% endif %}
      </div>
      {% for image in page.header.project_images %}
        <div class="image">
          <img src="{{ page.media[image.image].url }}" data-rjs="2" />
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}