button, .button {
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-o-transition-delay: .1s;
	-ms-transition-delay: .1s;
	transition-delay: .1s;
	position: relative;
	text-decoration: none;
	padding: 20px 45px;
	margin: 0;
	background-color: transparent;
	border: 2px solid $grey;
	color: $grey;
	display: inline-block;
	font-weight: 400;
	font-size: 1.1em !important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .4em;
	z-index: 999;

	&::before {
		z-index: -1;
		transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-webkit-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-moz-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-o-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		background-color: $grey;
		display: block;
		content: "";
		height: 40px;
		width: 2px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		left: 0;
		opacity: 0;
	}
	&::after {
		z-index: -1;
		transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-webkit-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-moz-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-o-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		background-color: $grey;
		display: block;
		content: "";
		height: 40px;
		width: 2px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 0;
		opacity: 0;
	}

	span {
		z-index: -1;
		display: block;
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		overflow: hidden;

		transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-webkit-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-moz-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
		-o-transition: all 350ms cubic-bezier(0.215,.61,.215,1);

		&::before {
			transition: .4s;
			-webkit-transition: .4s;
			-moz-transition: .4s;
			-o-transition: .4s;
			content: "";
			display: block;
			position: absolute;
			background-color: $grey;
			top: -5%;
			left: -210%;
			width: 200%;
			height: 110%;
		}
	}

	&:hover {
		color: white;
		padding: 20px 60px;
		letter-spacing: .7em;

		&::before {
			width: 20px;
			height: 2px;
			margin-top: -1px;
			opacity: 1;
			left: -40px;
		}
		&::after {
			width: 20px;
			height: 2px;
			margin-top: -1px;
			opacity: 1;
			right: -40px;
		}
		span {

			&::before {
				left: -25%;
			}
		}
	}

	// orange
	&.orange {
		color: $orange;
		border-color: $orange;

		&::before, &::after {
			background-color: $orange;
		}
		span {
			
			&::before {
				color: white;
				background-color: $orange;
			}
		}
		&:hover {
			color: white;
		}
	}

	//brown
	&.brown {
		color: $brown;
		border-color: $brown;

		&::before, &::after {
			background-color: $brown;
		}
		span {
			
			&::before {
				color: white;
				background-color: $brown;
			}
		}
		&:hover {
			color: white;
		}
	}

	// blue
	&.blue {
		color: $blue;
		border-color: $blue;

		&::before, &::after {
			background-color: $blue;
		}
		span {
			
			&::before {
				color: white;
				background-color: $blue;
			}
		}
		&:hover {
			color: white;
		}
	}
}

@media only screen and (max-width: 767px) {

	button, .button {
		font-size: 0.9em !important;
		padding: 20px 35px;

		&:hover {
			padding: 20px 35px;
		}
	}

}