.heading-bar {
	position: relative;
	width: 100%;
	padding: 100px 0 40px;
	background: url('../images/argylebg.png') center center repeat;

	h1 {
		color: $orange;
		margin-bottom: 40px;
	}
	.divider {
		background-color: $brown;
	}
	.sub-heading {
		position: relative;
		width: 90%;
		max-width: 600px;
		margin: 0 auto;

		font-size: 20px;
		text-align: center;
		font-weight: 400;
		color: $grey;
		line-height: 150%;
	}
}