.item {
	position: relative;
	display: block;
	width: 50%;
	height: 300px;
	float: left;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include border-box;

	.overlay {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
		background-color: rgba($brown, 0.85);
		overflow: hidden;

		-webkit-transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s;
		transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s;

		.text-title, .text-sub-title {
			position: absolute;
			width: 90%;
			left: 5%;
		}
		.text-title {
			top: 120%;
			color: white;
			font-size: 42px;
			font-weight: 300;

			-webkit-transition: top 0.2s;
			transition: top 0.2s;
		}
		.text-sub-title {
			top: 150%;
			font-size: 20px;
			font-weight: 600;
			color: $orange;

			-webkit-transition: top 0.2s;
			transition: top 0.2s;
		}
	}
	&:hover {

		.overlay {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.text-title {
				top: 70%;
				-webkit-transition-delay: 0.25s;
				transition-delay: 0.25s;
			}
			.text-sub-title {
				top: 84%;
				-webkit-transition-delay: 0.30s;
				transition-delay: 0.30s;
			}
		}
	}
}